*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;  
}
a:hover{
    color: #a6daa6;
}
html {
    font-size: 13px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.logo {
    width: 20%;
}
.logo img {
    width:  50%;
    height: 40px;
}
.search {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a6daa6;
    border-radius: 20px;
}
.search input[type="text"]{
    width: 40%;
    border: none;
    margin-left: 10px;
}
.search i {
    font-size: 1.2em;
    margin-right: 10px;
}
.call {
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.call i {
    font-size: 2.3em;
    color: #a6daa6;
    margin-right: 7px;
}
.banner {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 20px;
}
.nav_menu {
    line-height: 40px;
    padding: 0px 10px;
    border: 1px solid #ccc;
}
.nav_menu li {
    list-style-type: none;
    display: inline-block;
    padding-right: 15px;
    position: relative;
}
.nav_menu li ul {
     min-width: 150px;
     background-color: #ffffff;
     position: absolute;
     top: 40px;
     left: 0px;
     display: none;
}
.nav_menu li ul li {
    padding: 5px 12px;
    width: 100%;
    border: 1px solid black;
}
.nav_menu li:hover ul {
    display: block;
} 

.nav_menu li a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.banner_left img {
    width: 100%;
    height: 350px;
}
.banner_right ul {
   border: 1px solid #ccc; /* viền khung lớn  */ 
   height: 400px;
}
.banner_right ul li {
    list-style-type: none;
    line-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0px 20px;
}
.banner_right ul li i {
    font-size: 18px;
    text-transform: capitalize;
}
h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.menu_bath_room{
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
}   
.menu_bath_room::after{
    content: "";
    width: 100%;
    border: 1px solid #ccc;
    position: absolute;
    top: 37px;
    left: 0;
}
.menu_bath_room h3 {
    padding-top: 13px;
    border-bottom:  2px solid  #a6daa6;
    width: 200px;
    padding-bottom: 7px;
}
.nav_bath {
    border: none;
}
.nav_bath_right{
    border: none;
    text-align: right;
}
.nav_bath_right a {
    text-transform: capitalize;
}
.product {
    display: grid;
    grid-template-columns: 65% 33%;
    column-gap: 2%;
}
.product img {
    width: 100%;
}
.product_left {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    text-align: center;
}
.product_left img {
    border-radius: 8px;
}
.buy_now {
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    margin-top: 40px;
}
.buy_now img {
    width: 100%;
    height: 300px;
}
.footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 20px;
}
.icon i{
    color: #a6daa6;
    border: 1px solid ;
    padding: 5px;
    margin-right: 10px;
}
.footer p{
    color: aliceblue;
}
